{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "no-var": "error",
    "no-unused-vars": "error",
    "react/destructuring-assignment": "error",
    "react/jsx-pascal-case": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-unused-state": "error",
    "react/jsx-key": "error",
    "react/self-closing-comp": "error",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
      },
    ],
    "array-callback-return": 0,
    "react-hooks/exhaustive-deps": 0,
  },
  "env": {
    "browser": true,
  },
}
